* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  padding: 8px 10px 4px 6px;
  z-index: 1;
  position: relative;
}

nav.sticky {
  background: none;
  /* Remove background when sticky */
}

#listNav {
  display: block;

  transition: background-color 0.3s ease;
}

.logo {
  color: #f28123;
}

@media (max-width: 768px) {
  .wnav .logwo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    margin-left: -10px;
  }

  #listNav {
    display: none;
    padding: 4px;
    width: 100%;
    /* background-color: #0000;
        color: #ccc; */
  }
}

li {
  color: #ffffff;
  display: inline;
  font-size: 20px;
}

.active {

  display: inline-block;


}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

}

.active:hover .dropdown-content {

  display: block;

}

.dropdown-content a {
  padding: 6px 16px;
  text-align: left;
  display: block;
  font-size: 18px;
  color: black;
}

.dropdown-content a:hover {
  color: #f28123;
  cursor: pointer;
}

@media (max-width: 768px) {

  li,
  .active {
    display: block;
    margin-left: 10px;
  }
}


.awesome {
  color: #ffffff;
  font-size: 20px;
  /* margin-left:-100px; */
  margin-right: 84px;
}

.carousel {
  position: absolute;
  width: 100%;
  height: 644px;
  /* max-width: 600px; */
  object-fit: contain;
  /* margin: auto; */
  overflow: hidden;
  bottom: 80px;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
}

.carousel-item img {
  width: 100%;
  display: block;
}

.compass {
  /* visibility: hidden;; */
  /* font-size: 20px; */
  /* color: #F28123; */
}

.menuContainer {
  display: none;
}

@media (max-width: 768px) {

  .menuContainer,
  .compass {
    display: block;
    color: #f28123;
    font-size: 30px;
    padding-top: 10px;
  }
}

.secHead {
  min-width: 100%;
}

@media (max-width: 768px) {
  .secHead {
    margin-top: -405px;
    padding-right: 10px;
    /* min-width: 100%;  */
    /* font-size:10px;  */
  }

  .busIcon {
    font-size: 17px;
    width: 100%;
  }

  .bus {
    font-size: 20px;
  }

  .order {
    font-size: 12px;
    padding-left: 180px;
  }
}

.shipping {
  padding-top: 14px;
}


.carousel {
  overflow: hidden;
  /* Hide overflow to create the swipe effect */
  position: relative;
}

#carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}

#carousel-item {
  min-width: 250px;
  /* Adjust width as necessary */
  flex-shrink: 0;
  /* Prevent shrinking */
}


.content{
  padding-top: 40px;
  padding-bottom: 60px;
}

@media (min-width: 768px) {}

.condtent {
  padding: 76px 115px 10px 0px;
  text-align:center;
  margin-top: -174px;
}

